.profile{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 40px 30px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.profile_Text{
    margin-top: 32px;
    color: black;
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
}
.profile_Btn{
    margin-top: 20px;
    width: 350px;
    height: 60px;
    padding: 0px 40px 0px 30px;
    gap: 20px;
    border: none;
    border-radius: 10px;
    background: #5E7BC7;
    outline:none;
    align-items: center;
    justify-content: center;
    display: flex;
}